<p>footer works!</p>
<!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
  <li><a routerLink="/home" class="nav-link px-2 text-white">Home</a></li>
  <li><a class="btn text-white" (click)="tShirts('Mens Casual')"> T-Shirts</a></li>
  <li><a class="btn text-white" (click)="tShirts('Backpack')">Backpack</a></li>
  <li><a class="btn text-white" (click)="tShirts('Jacket')">Jacket</a></li>
  <li><a class="btn text-white" (click)="tShirts('Hard Drive')">Hard Drive</a></li>
  <li><a class="btn text-white" (click)="tShirts('SSD')">Internal SSD</a></li>
  <li><a class="btn text-white" (click)="tShirts('Acer')">Acer</a></li>
  <li><a class="btn text-white" (click)="tShirts('Monitor')">Monitor</a></li>
</ul> -->
