<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<br><br><br><br><br><br>

<app-header3></app-header3>

<div class="container">
  <div class="card mb-3" style="max-width: 1000px">
    <div
      class="p-3 h3 bg-info bg-opacity-10 border border-info border-start rounded-end text-warning">
      SHOPPING CART

     <a routerLink="/home" id="home">SHOP NOW</a>
    </div>

    <div
      class="row g-0"
      *ngFor="let product of products | search : searchString"
    >
      <div class="col-md-4" id="t1">
        <!-- <p class="card-text">{{product.id}}</p> -->
        <img src="{{ product.image }}" alt="..." height="200" width="150" />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">{{ product.title }}</h2>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">
            <small class="text-muted">{{ product.category }}</small>
          </p>
          <div class="row">
            <div class="col-md-4">
              <button (click)="sub(product)" class="btn btn-outline-secondary">
                -</button
              ><strong value="1" id="t4">{{ product.quantity }}</strong>
              <button (click)="add(product)" class="btn btn-outline-secondary">
                +
              </button>
            </div>
            <div class="col-md-6">
              <h2 class="text-success">
                Total Price:{{ product.totalPrice | currency : "INR" }}
              </h2>
            </div>
            <div class="col-md-2">
              <button
                class="material-icons"
                style="background-color: rgb(235, 24, 24)"
                (click)="deleteProduct(product.id)"
              >
                delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2" id="t2">
        <h2 class="text-danger">
          Price {{ product.price | currency : "INR" }}
        </h2>
      </div>
      <hr />
    </div>

    <hr />
    <div class="container">
      <div class="row" id="butt">
        <div class="col-md-2" id="div1">
          <button mat-raised-button color="warn" (click)="remove()" id="btn22">REMOVE ALL</button>
        </div>
        <div class="col-md-2" id="div2">
          <!-- <button mat-raised-button color="primary">SHOPE NOW</button> -->
          <button mat-raised-button color="primary" (click)="openDialog()" id="btn22">CHECK OUT</button>
        </div>
        <!-- <div class="col md-2" id="div3">
          <a routerLink="/home" id=" "><button mat-raised-button color="accent" id="btn22">SHOPE NOW</button></a>
        </div> -->
      </div>
    </div>
  </div>
</div>


<!--
<div class="row row-cols-1 row-cols-md-3 g-4 w-100" id="card2">
  <div class="col" *ngFor="let item of pImage" id="card3">
    <div class="card">
      <img src="{{item.image}}" class="card-img-top" height="300" id="img">
    </div>
  </div>
</div>
 -->


<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4" id="back">
    <div class="col" *ngFor="let item of pImage" id="newcard">
      <mat-card class="example-card" id="newcard2">

        <img mat-card-image src="{{item.image}}" alt="Photo of a Shiba Inu" height="250" id="t22">


      </mat-card>

    </div>



  </div>
</div>


