
<div class="slider1">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">


        <div class="row">
         <div class="col-md-4" id="div1">
          <h1 id="desco">50% Discount</h1>

          <h1 id="desco1">Online Shop</h1>
          <p id="para">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
          </p>

           <button mat-raised-button color="warn" id="butt">SHOP NOW</button>


         </div>
         <div class="col-md-8">
          <img src="../../assets/images/Pngtree.png" class="d-block w-100" alt="..." height="400px">
         </div>
        </div>


      </div>
      <div class="carousel-item" data-bs-interval="2000">

        <div class="row">
          <div class="col-md-4" id="div1">
           <h1 id="desco" >10% Discount</h1>

           <h1 id="desco1">Online Shop</h1>
           <p id="para">
             There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
           </p>

           <button mat-raised-button color="warn" id="butt">SHOP NOW</button>


          </div>
          <div class="col-md-8">
           <img src="../../assets/images/pngtree2.png" class="d-block w-100" alt="..." height="400px">
          </div>
         </div>


      </div>
      <div class="carousel-item">


        <div class="row">
          <div class="col-md-4" id="div1">
           <h1 id="desco">25% Discount</h1>

           <h1 id="desco1">Online Shop</h1>
           <p id="para">
             There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
           </p>

           <button mat-raised-button color="warn" id="butt">SHOP NOW</button>


          </div>
          <div class="col-md-8">
           <img src="../../assets/images/pngtree4.png" class="d-block w-100" alt="..." height="400px">
          </div>
         </div>

      </div>
    </div>

    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
     <img src="https://icons.iconarchive.com/icons/hopstarter/soft-scraps/256/Button-Previous-icon.png" alt="" class="carousel-control-prev-icon" aria-hidden="true">
      <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <img src="	https://icons.iconarchive.com/icons/hopstarter/soft-scraps/256/Button-Next-icon.png" alt="" class="carousel-control-prev-icon" aria-hidden="true">
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</div>




